<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <h1 class="text-center h1" style="border: 1px solid red; padding: 5px;">SkillsMeterified - Test Your SKills</h1>
          <div class="hr-title"><span>************</span></div>
          <p class="text-justify h4" style="color: black; font-weight:bold;"><span class="glyphicon glyphicon-ok"></span> WelCome To SkillsMeterified - A Web Application To Test Your Skills In Real-Time With Blazing Fast Speed and Accuracy.</p>
          <hr>
          <p class="text-justify h4" style="color: black; font-weight:bold;"><span class="glyphicon glyphicon-ok"></span> Feature Rich, interactive Live Test System Built With MEAN stack with Clean UI To Provide Real-Time Results With Evaluation (All That Every Programmer Ever Dreamed Of, To Test His Skills).</p>
          <hr>
          <p class="text-justify h4" style="color: black; font-weight:bold;"><span class="glyphicon glyphicon-ok"></span> Admin Can Create, Edit, Delete, Add, Manage Tests At Any Moment with SPA UI</p>
          <div class="hr-title"><span>************</span></div>
          <h4 class="text-justify h4" style="color: black; font-weight:bold;"><span class="glyphicon glyphicon-star"></span>  So, What are you Waiting For, Login or Signup Now!!!<br>And, You can Also Use Your Facebook and Google Account to Signup</h4>
          <div class="text-center"><br>
            <a href="/login" role="button" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-user"></span>  Login or SignUp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
